{% extends 'core/base.html '%}

{% load static %}
{% block content %}
    <!--  Aqui se recibe las categorias y por la relación de las dos entidades
    es posible indicar que recupere desde las categorias los post -->
    <!-- entrada in category.post_set.all  el post_set es un generico para cambiar esa función se puede dar un nombre
         especifico en el modelo de la categoria en este caso-->
    {%for entrada in category.get_posts.all %}
        <section class="page-section cta">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 mx-auto">
                <div class="cta-innerv text-center rounded">
                  <h2 class="section-heading mb-5">
                      <!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date
                    link con información sobre los filtros para las fechas -->
                    <span class="section-heading-upper">{{entrada.published | date:"SHORT_DATE_FORMAT" }}</span>
                    <span class="section-heading-lower">{{entrada.title}}</span>
                  </h2>
                  <p class="mb-0">
                    <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{entrada.image.url}}" alt="">
                  </p>
                  <p class="mb-0 mbt">
                    {{entrada.content | linebreaks }}
                  </p>
                  <p class="mb-0 mbt">
                    <span class="section-heading-under">Publicado por <em><b>{{entrada.author}}</b></em> en
                        <em>
                            {% for categoria in entrada.categories.all %}
                                <a href="{% url 'category' categoria.id %}" class="link">{{ categoria.name }}</a>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </em>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
    {% endfor %}

{% endblock %}
